<div class="product-list">
    <h1>All Product List</h1>
    <p class="p_message">{{productMessage}}</p>
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Color</th>
                <th>Category</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of productList">
                <td><img src="{{item.productImage}}" alt="Product Image"></td>
                <td>{{item.productName}}</td>
                <td>{{item.productPrice}}</td>
                <td>{{item.productColor}}</td>
                <td>{{item.productCategory}}</td>
                <td>{{item.productDescription}}</td>
                <td><fa-icon (click)="deleteProduct(item.id)" [icon]="icon"></fa-icon>
                    <!-- <button (click)="deleteProduct(item.id)">Delete</button> -->
                </td>
            </tr>
        </tbody>
    </table>
</div>