table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }
  
  th, td {
    text-align: left;
    padding: 12px;
  }
  
  th {
    background-color: #f2f2f2;
    color: #333;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  td img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 30%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  td {
    color: #555;
  }
  
  td:nth-child(3) {
    font-weight: bold;
  }
  
  td:nth-child(4) {
    text-transform: capitalize;
  }
  
  td:nth-child(5) {
    font-weight: bold;
  }
  
  td:nth-child(6) {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  table a {
    color: #007bff;
    text-decoration: none;
  }
  
  table a:hover {
    text-decoration: underline;
  }
  .p_message{
    color: green;
  }